// ษอออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออป
// บ  FILENAME:      SUBCLASS.RC                                      mm/dd/yy     บ
// บ                                                                               บ
// บ  DESCRIPTION:   Main resource script for SUBCLASS                             บ
// บ                                                                               บ
// บ  NOTES:         This file contains all of the various dialog templates,       บ          
// บ                 menu defintions, keyboard accelerators and message tables     บ          
// บ                 that are used by this sample program.                         บ          
// บ                                                                               บ
// บ  PROGRAMMER:    Uri Joseph Stern and James Stan Morrow                        บ
// บ  COPYRIGHTS:    OS/2 Warp Presentation Manager for the Power Programmer       บ
// บ                                                                               บ
// บ  REVISION DATES:  mm/dd/yy  Created this file                                 บ
// บ                                                                               บ
// ศอออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออผ

#include <os2.h>
#include "subclass.h"


// --------------------------------------------------------------------------
// Presentation Parameters for Product Information Dialog Box
// --------------------------------------------------------------------------
#define PP_PROGTITLE PRESPARAMS PP_FOREGROUNDCOLORINDEX, CLR_RED PRESPARAMS PP_FONTNAMESIZE, "28.Tms Rmn"    

ICON     APPLICATION_ID  subclass.ico
BITMAP   IDB_PRODINFO    prodinfo.bmp                     

// --------------------------------------------------------------------------
// Build resource for the application's main menu
// --------------------------------------------------------------------------
MENU APPLICATION_ID
{
 SUBMENU  "~Edit",                  MID_EDIT
  {
   MENUITEM "Field ~1",             MID_F1
   MENUITEM "Field ~2",             MID_F2
   MENUITEM "Field ~3",             MID_F3
   MENUITEM "Field ~4",             MID_F4
  }

 SUBMENU "~Help",                   MID_HELP, MIS_HELP                       
  {                                                                             
   MENUITEM "~General help",        MID_HELPGEN                          
   MENUITEM "~Keys help",           MID_HELPKEYS                         
   MENUITEM SEPARATOR                                                                    
   MENUITEM "~Product Information", MID_PRODINFO                           
  }                                                                                      
}


DLGTEMPLATE IDD_PRODINFO LOADONCALL MOVEABLE DISCARDABLE
{
    DIALOG  "SUBCLASS - Product Information", IDD_PRODINFO, 75, 75, 275, 130,,FCF_TITLEBAR | FCF_SYSMENU
    {
        CONTROL         IDB_PRODINFO, IDB_PRODINFO, 20, 90, 21, 21, WC_STATIC, SS_BITMAP | WS_GROUP | WS_VISIBLE
        LTEXT          "SUBCLASS",                                                    -1   85,  90, 150,  25 PP_PROGTITLE
        CTEXT           "OS/2 Warp Presentation Manager for Power Programmers",       -1,   7,  65, 255,  8
        CTEXT           "Chapter 10 Sample Program",                                  -1,   7,  55, 255,  8
        CTEXT           "by Uri J. Stern and James S. Morrow",                        -1,   7,  45, 255,  8
        DEFPUSHBUTTON   "~OK"                                                     DID_OK, 120,   8,  45, 16, WS_GROUP
    }
}
